<section id="education" class="min-h-screen pt-20">
  <div class="container mx-auto text-white mt-4">
    <div class="text-6xl font-bold text-center mb-6"><span [class]="gradientColorClass">Education</span></div>
    <div class="">
      <div class="rounded-lg shadow-md flex flex-col items-center justify-center">
        <h3 class="text-2xl font-semibold text-center">Bachelor of Science in Computer Science and Engineering</h3>
        <img src="ewu_logo.svg" class="ml-8 mb-4 mt-6">
        <p class="text-lg text-gray-400 mt-2">East West University, 2019 - 2023</p>
        <p class="text-gray-500 mt-2">Honors : Magna Cum Laude</p>
        <p class="text-gray-500 mt-2 text-center">Extra-Curricular : Competitive Programming, Math Olympiad</p>
      </div>

      <!-- Add more education entries here -->
    </div>
  </div>
</section>
