<header class="sticky top-0 backdrop-blur-md text-white p-4 z-50 bg-black/25">
  <nav class="container mx-auto flex justify-between items-center">
    <a href="#" class="text-3xl font-satisfy font-bold">Pranta <span [class]="gradientColorClass">Nath</span></a>
    <ul class="flex space-x-4 font-semibold">
      <li><a href="#about" class="transition-transform duration-300 ease-in-out hover:bg-gradient-to-r hover:from-purple-500 hover:to-pink-500 hover:bg-clip-text hover:text-transparent hover:border-b-2 border-fuchsia-600">About</a></li>
      <li><a href="#education" class="transition-transform duration-300 ease-in-out hover:bg-gradient-to-r hover:from-purple-500 hover:to-pink-500 hover:bg-clip-text hover:text-transparent hover:border-b-2 border-fuchsia-600">Education</a></li>
      <li><a href="#projects" class="transition-transform duration-300 ease-in-out hover:bg-gradient-to-r hover:from-purple-500 hover:to-pink-500 hover:bg-clip-text hover:text-transparent hover:border-b-2 border-fuchsia-600">Projects</a></li>
      <li><a href="#research" class="transition-transform duration-300 ease-in-out hover:bg-gradient-to-r hover:from-purple-500 hover:to-pink-500 hover:bg-clip-text hover:text-transparent hover:border-b-2 border-fuchsia-600">Research</a></li>
    </ul>
  </nav>
</header>
