<section id="skills" class="min-h-screen pt-20">
  <div class="text-4xl md:text-6xl font-bold text-center pb-16"><span [class]="gradientColorClass">Skills</span></div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 px-6 md:px-10 py-4">
    <!-- Programming Languages -->
    <div class="custom-card">
      <h3 class="custom-heading">Programming Languages</h3>
      <div class="flex flex-wrap gap-3">
    <span class="custom-tag">
      <i class="devicon-cplusplus-plain colored text-blue-400 text-lg"></i> C/C++
    </span>
        <span class="custom-tag">
      <i class="devicon-python-plain colored text-yellow-400 text-lg"></i> Python
    </span>
        <span class="custom-tag">
      <i class="devicon-javascript-plain colored text-yellow-300 text-lg"></i> JavaScript/TypeScript
    </span>
        <span class="custom-tag">
      <i class="devicon-php-plain colored text-indigo-400 text-lg"></i> PHP
    </span>
        <span class="custom-tag">
      <i class="devicon-html5-plain colored text-orange-400 text-lg"></i> HTML/CSS
    </span>
      </div>
    </div>

    <!-- Frameworks & Libraries -->
    <div class="custom-card">
      <h3 class="custom-heading">Frameworks & Libraries</h3>
      <div class="flex flex-wrap gap-3">
    <span class="custom-tag">
      <i class="devicon-angularjs-plain colored text-red-500 text-lg"></i> Angular
    </span>
        <span class="custom-tag">
      <i class="devicon-django-plain colored text-green-500 text-lg"></i> Django
    </span>
        <span class="custom-tag">
      <i class="devicon-tailwindcss-original colored text-blue-400 text-lg"></i> Tailwind CSS
    </span>
        <span class="custom-tag">
      <i class="devicon-scikitlearn-plain colored text-yellow-400 text-lg"></i> scikit-learn
    </span>
        <span class="custom-tag">
      <i class="devicon-tensorflow-original colored text-orange-500 text-lg"></i> TensorFlow
    </span>
      </div>
    </div>

    <!-- Tools & Platforms -->
    <div class="custom-card">
      <h3 class="custom-heading">Tools & Platforms</h3>
      <div class="flex flex-wrap gap-3">
    <span class="custom-tag">
      <i class="devicon-git-plain colored text-orange-500 text-lg"></i> Git
    </span>
        <span class="custom-tag">
      <i class="devicon-github-original colored text-white text-lg"></i> GitHub
    </span>
        <span class="custom-tag">
      <i class="devicon-linux-plain colored text-yellow-400 text-lg"></i> Linux/Ubuntu
    </span>
        <span class="custom-tag">
      <i class="devicon-mysql-plain colored text-blue-400 text-lg"></i> MySQL
    </span>
        <span class="custom-tag">
            <i class="devicon-docker-plain-wordmark colored text-lg"></i> Docker
        </span>

        <span class="custom-tag">
             <i class="devicon-firebase-plain-wordmark colored text-lg"></i> Firebase
        </span>
      </div>
    </div>

    <!--    &lt;!&ndash; Cloud & DevOps &ndash;&gt;-->
    <!--    <div class="bg-gradient-to-r from-gray-800 via-gray-900 to-[#101010] p-6 rounded-lg shadow-lg hover:shadow-2xl transition">-->
    <!--      <h3 class="text-xl font-semibold text-white mb-3">Cloud & DevOps</h3>-->
    <!--      <ul class="text-gray-400 list-disc ml-5">-->
    <!--        -->
    <!--      </ul>-->
    <!--    </div>-->

    <!-- Machine Learning & AI -->
    <div class="custom-card">
      <h3 class="custom-heading">Machine Learning & AI</h3>
      <div class="flex flex-wrap gap-3">
    <span class="custom-tag">
      <i class="fas fa-database text-yellow-400 text-lg"></i> Data Preprocessing
    </span>
        <span class="custom-tag">
      <i class="fas fa-brain text-orange-500 text-lg"></i> Model Development
    </span>
        <span class="custom-tag">
      <i class="fas fa-cogs text-red-500 text-lg"></i> Model Optimization
    </span>
        <span class="custom-tag">
      <i class="fas fa-laptop-code text-yellow-500 text-lg"></i> Deep Learning
    </span>
        <span class="custom-tag">
      <i class="fas fa-network-wired text-blue-400 text-lg"></i> Neural Networks
    </span>
      </div>
    </div>


    <!-- Soft Skills -->
    <!-- Soft Skills -->
    <div class="custom-card">
      <h3 class="custom-heading">Soft Skills</h3>
      <div class="flex flex-wrap gap-3">
    <span class="custom-tag">
      <i class="fas fa-lightbulb text-yellow-400 text-lg"></i> Problem-Solving
    </span>
        <span class="custom-tag">
      <i class="fas fa-book-reader text-yellow-500 text-lg"></i> Continuous Learning
    </span>
        <span class="custom-tag">
      <i class="fas fa-clock text-orange-500 text-lg"></i> Quick Learning
    </span>
        <span class="custom-tag">
      <i class="fas fa-users text-blue-400 text-lg"></i> Collaboration
    </span>
      </div>
    </div>

  </div>
</section>
